div.sesion{
    display: flex;
    align-items: center;
    height: 100vh;
}

div.error{
    background-color: rgba(255, 87, 87, 0.993);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

form{
    color: white;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 5px black;
}
fieldset{
    border: 1px solid black;
    border-radius: 10px;
}

legend{
    float: none;
    width: auto;
    padding: 10px 20px;
}

form h2{
    margin-block-end: 40px;
}

form div{
    font-size: 110%;
}

form input{
    padding: 5px 15px;
    font-size: 100%;
    width: 90%;
    text-align: center;
    margin-top: 5px;
}

form button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

section{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 150px;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 30px;
}

section.red{
    background-color: brown;
}

section.brown{
    background-color: burlywood;
}

section.blue{
    background-color: rgb(77, 199, 158);
}

section:first-child{
    margin-top: 40px;
}

section h1{
    text-align: center;
    flex:1;
    color: white;
}

a{
    text-decoration: none;
}