<app-driver-nav></app-driver-nav>
<div>
    <section>
        <div class="info">
            <h2>nombre del usuario</h2>
            <p>dirrrecion vive lejitos en una monta;a pero hay que paasr un rio primero de ahi llegas</p>
        </div>
        <div class="iconosCont">
            <div class="tomada active">
                <fa-icon [icon]="faThumbtack" size="2x"></fa-icon>
                <p>Tomada</p>
            </div>
            <div class="camino">
                <fa-icon [icon]="faMotorcycle" size="2x"></fa-icon>
                <p>En camino</p>
            </div>
            <div class="punto">
                <fa-icon [icon]="faHome" size="2x"></fa-icon>
                <p>En punto</p>
            </div>
        </div>
    </section>
    
</div>
