@media (max-width:376px) {
    a{
        margin: 5px 5px !important;
    }
}

a{
    color: black;
    margin: 0px 5px;
    text-shadow: 0px 0px 0px;
    border: 1px solid rgba(78, 78, 78, 0.61)!important;
}

.h1Cont{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin-top: 10px;
}

h1{
    display: inline-block;
    text-shadow: 1px 1px 3px grey;
}

fa-icon{
    color: #00cbffa8;
}

p{
    padding: 0px 30px;
    font-family: "cookie";
    font-size: 170%;
}

span{
    display: none;
}

@media (min-width:769px) {
    span{
        display: inline-block;
        margin-right: 10px;
    }

    .carrito{
        display: flex;
        align-items: center;
        padding: 0px 20px;
        transition: background-color 0.5s ease-in-out;
        border-radius: 10px;
    }

    .carrito:hover{
        cursor: pointer;
        background-color: rgb(209, 209, 209);
    }

    .nav a:hover{
        cursor: pointer;

    }
    p{
        margin-bottom: 0px;
    }
}