<app-nav></app-nav>
<div class="companyCont">
    <div class="banner">
        <div class="nombreCompany">
            <h1>Burguer King</h1>
        </div>
    </div>
    <div id="menu">
        <div class="objetoCont">
            <div class="objetoImagen">
                <h2>Texana burguer</h2>
            </div>
            <div class="objetoDetalle">
                <b>Ingredientes:</b>
                <p class="descripcion"> Tomatillo y triple level de carne y con todo el queso que quieras, puedes agregar a tu disposicion</p>
                <p class="precio">25.99$</p>
                <button (click)="activarModal()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modalBack" *ngIf="modalCantidad == 'active'">
    <div class="modalInfoBack">
        <fa-icon [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
        <p>Ingrese la cantidad:</p>
        <input type="number">
        <button>Agregar</button>
    </div>
</div>