#menu{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.banner{
  margin-top: 10px;
  width: 100%;
  height: 150px;
  box-shadow: 0px 0px 5px black;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  background-size: 100% auto;
  background-position: center;
  color: white;
}

.banner .nombreCompany{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  height: min-content;
}

.banner h1{
  text-shadow: 0px 0px 15px black;
  color: white;
}

.banner img{
  width: 100%;
  margin: auto;
}

.objetoImagen{
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center -20px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.objetoCont {
  display: flex;
  align-items: center;
  margin: 10px auto;
  height: 150px;
  border-radius: 20px;
  overflow: auto;
  box-shadow: 0px 0px 5px grey;
  transition: box-shadow 0.5s ease;
  background-color: rgba(255, 255, 255, 0.589);
}

.objetoCont:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px black(189, 189, 189);
}

.empresaLogo {
  float: right;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.objetoDetalle {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}

.objetoDetalle p {
  margin: 0;
  color: black;
  padding: 0px 10px;
  height: 80px;
  overflow: hidden;
  text-shadow: 0px 0px 2px grey;
  width: 90%;
}

.objetoCont h3 {
  text-shadow: 0px 0px 3px black;
  margin-top: 55%;
  margin-left: 10px;
  padding: 0px 10px;
  max-height: 30px;
  overflow: hidden;
  color: white;
  text-align: center;
}

.objetoDetalle b{
  padding: 5px 10px;
  text-shadow: 0px 0px 3px grey;
}

.objetoDetalle span{
  color: red;
  margin-left: 10px;
  font-weight: bold;
}

.objetoCont button{
  float: right;
  margin-right: 15px;
  margin-top: -10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: burlywood;
}


.objetoCont button:hover{
  background-color: rgb(165, 165, 165);
}

