<div class="companyCont">
    <div class="banner" style="background-image: url(../../assets/img/banners/{{compania.banner}});">
        <div class="nombreCompany">
            <h1>{{compania.nombre}}</h1>
        </div>
    </div>
    <div id="menu">
        <div class="objetoCont" *ngFor="let item of compania.productos; let i = index">
            <div class="objetoImagen" style="background-image: url(../../assets/img/productos/{{compania.productos[i].img}});">
                <h2>{{compania.productos[i].nombre}}</h2>
            </div>
            <div class="objetoDetalle">
                <b>Ingredientes:</b>
                <p class="descripcion"> {{compania.productos[i].detalle}}</p>
                <p class="precio">{{compania.productos[i].precio}}</p>
                <button (click)="activarModal()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modalBack" *ngIf="modalCantidad == 'active'">
    <div class="modalInfoBack">
        <fa-icon [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
        <p>Ingrese la cantidad:</p>
        <input type="number">
        <button>Agregar</button>
    </div>
</div>