<nav>
    <a routerLink="/driver">
        <div class="logo">
            <img src="http://localhost:8888/public/logo.png" alt="">
        </div>
    </a>
    <div class="usuarioActual"  (click)="cambiarModal()">
        <div>{{nombreDriverActive}}</div>
        <fa-icon [icon]="faSortDown" size="2x"></fa-icon>
    </div>
    <div class="modalBack" *ngIf="modal == 'active'">
        <div class="drivers">
            <ul>
                <li (click)="cerrarSesion()"> Cerrar sesion </li>
            </ul>
        </div>
    </div>
    <fa-icon (click)="misOrdenes()" [icon]="faTasks" size="3x"></fa-icon>
</nav>
<hr>