<hr>
<div class="about">
    <img src="../../assets/img/delivery.jpg" alt="">
    <div class="nota">
        <div>
            <h2>Conviertete Vendedor</h2>
            <p>Brindamos publicidad a tu negocio y cada uno de tus productos, solo necesitas <b>crear una cuenta y subir tu inventario</b>. Animate!</p>
        </div>
    </div>
    <div class="nota">
        <div>
            <h2>Sé Cliente</h2>
            <p> <b>'MORY'</b> Será tu lugar favorito para pedir lo que quieras. <br> Contamos con una gran variedad de locales en tu ciudad, prueba a pedir <b>comida, supermercados o farmacias y muchos más</b></p>
        </div>
    </div>
</div>
