hr{
    width: 100%;
    margin-top: 30px;
    box-shadow: 0px 1px 4px black;
}

.about{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    padding: 15px;
}

.about img{
    width: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: -0px 0px 10px white;
}

.about img:hover{
    box-shadow: -20px 20px 10px white;
    margin-top: -10px;
    margin-left: 20px;

}

.about div{
    height: 300px;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    text-align: center;
    position: relative;
    max-width: 320px;
    background-color: #FFC172;
    color: rgb(66, 66, 66);
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
}

.about .nota div{
    display: list-item;
    height: fit-content;
    border: 0px;
    box-shadow: 0px 0px 0px black;
}

.about div.nota h2{
    padding: 0px 20px;
}

.about div.nota p{
    padding: 0px 30px;
}

.about div:last-child{
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

@media (max-width: 1110px) {
    .about img{
        height: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about{
        height: 250px;
        align-items: center;
    }

    .about div{
        height: 200px;
        width: 220px;
    }

  }

  @media (max-width:415px) {

    .about img{
        margin-left: auto;
        margin-right: auto;
    }

    .about img:hover{
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        box-shadow: 0px 0px 0px;
    }
      
    .about div{
        height: 250px;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .about div:last-child{
        margin-bottom: 10px;
    }

    .about{
        display: block;
        height: fit-content;
    }

  }
