
nav{
    overflow: auto;
    padding: 10px 0px;
    position: relative;
}

div{
    padding: 10px 10px;
    width: 55%;
    float: left;
    height: min-content;
}

nav div:first-child, nav div:last-child{
    max-width: 20%;
}

nav div:last-child{
    text-align: right;
}

div#logoCont{
    padding: 0px 0px;
    float: left;
}

div input{
    padding: 10px 10px;
    font-size: 110%;
    width: 85%;
    border: none;
    box-shadow: 0px 0px 5px black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div#buscarCont button{
    display: inline-block;
    vertical-align: top;
    width: 10%;
    padding: 7px 0px;
    background-color: var(--color-boton);
    border: none;
    box-shadow: 1px 0px 3px black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#buscarCont{
    margin-top: 2px;
}

div .navBoton{
    padding: 10px 20px;
    margin: 3px 5px;
    display: inline-block;
    background-color: var(--color-boton);
}

div img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 65px;
}

#botonesCont{
    width: max-content;
}

.botonesCel{
    text-align: center;
    display: flex;
    padding: 0;
}

nav #botonCel{
    display: none;
}

hr{
    margin-top: 0px;
}

@media (max-width:415px) {
    nav{
        height: 120px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    nav #buscarCont{
        padding: 0;
        display: block;
        position: absolute;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        left: 0;
        right: 0;
    }

    div input{
        width: 80%;
    }
    
    div#buscarCont button{
        width: 12%;
    }

    div#botonesCont{
        display: none;
    }

    nav #botonCel{
        float: right;
        width: min-content;
        height: min-content;
        display: block;
    }

    div#botonCel fa-icon{
        font-size: 250%;
    }

    div#botonCel fa-icon:hover{
        color: black;
    }

    div#botonesCont.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        margin: -10px -20px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.836);
        backdrop-filter: blur(1px);
        z-index: 1;
        display: block;
    }

    #botonesCont .botonesCel{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        text-align: center;
    }

    .botonesCel a{
        width: 90%;
    }
    
}