<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/clientes">Navbar</a>
    <div class="saludo" *ngIf="sesion == '1'"><b>Hola!</b> Anibal Diaz</div>
    <button class="navbar-toggler" type="button" (click)='mostrarNav()'>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarNav" *ngIf="navbar == 'active'">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="sesion == '0'">
          <a class="nav-link" routerLink="/clientes/login">Iniciar sesion</a>
        </li>
        <li class="nav-item" *ngIf="sesion == '1'">
          <a class="nav-link" (click)="configCuenta()">Configuracion de cuenta</a>
        </li>
        <li class="nav-item" *ngIf="sesion == '1'">
          <a class="nav-link" (click)="cerrarSesion()">Cerrar sesion</a>
        </li>
        <li class="nav-item" *ngIf="sesion == '0'">
          <a class="nav-link" routerLink="/clientes/registro">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes/carrito">Carrito</a>
        </li>
      </ul>
    </div>
  </nav>