<nav>
    <div (click)="cambiarPant()" class="navDiv" id="logoCont">
        <img src="../../assets/img/logo.jpg" alt="">
    </div>
    <div class="navDiv" id="buscarCont">
        <input type="text" placeholder="Restaurantes">
        <button><fa-icon [icon]="faCoffee" size="2x"></fa-icon></button>
    </div>
    <div class="navDiv" id="botonesCont" *ngIf="regionVisible == 'botones'">
        <div class="botonesCel">
            <a class="navBoton">Login</a>
            <a class="navBoton">Login</a>
        </div>
    </div>
    <div id="botonCel">
        <fa-icon [icon]="faBars"></fa-icon>
    </div>


</nav>
<hr>