<nav>
    <div (click)="cambiarPant()" class="navDiv" id="logoCont">
        <img src="../../assets/img/logo.jpg" alt="">
    </div>
    <div class="navDiv" id="buscarCont">
        <input type="text" placeholder="Restaurantes">
        <button><fa-icon [icon]="faCoffee" size="2x"></fa-icon></button>
    </div>
    <div class="navDiv" id="botonesCont"  *ngIf="regionVisible == 'modal'">
        <div class="botonesCel">
            <fa-icon id="closeTag" [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
            <a routerLink="/clientes/carrito" class="navBoton">Carrito</a>
            <a class="navBoton">Iniciar sesion</a>
        </div>
    </div>
    <div id="botonCel" (click)="verModal()">
        <fa-icon [icon]="faBars"></fa-icon>
    </div>


</nav>
<hr>