
nav{
    padding: 10px 20px;
    color: black;
    background-color: #F4F4F4 !important;
}

nav .saludo{
    font-size: 110%;
    width: 100%;
    text-align: center;
}

nav img{
    height: 70px;
}

nav a{
    width: 50%;
    text-align: center;
    margin: 0;
}

.navbar-collapse a{
    text-align: left;
    text-shadow: 0px 0px 0px grey;
}