<h2 class="tabla">{{tableName}}</h2>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let item of tableHead" scope="col">
                {{item}}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="visible == 'empresas'">
        <tr *ngFor="let obj of tableData; index as i">
            <th>{{i+1}}</th>
            <th>{{obj.nombre}}</th>
            <th>{{obj.empresa}}</th>
            <th>{{obj.puntuacion}}</th>
        </tr>
    </tbody>
    <tbody *ngIf="visible == 'productos'">
        <tr *ngFor="let obj of tableData; index as i">
            <th>{{i+1}}</th>
            <th>{{obj.nombre}}</th>
            <th>{{obj.empresa}}</th>
            <th>{{obj.detalle}}</th>
            <th>{{obj.precio}}$</th>
        </tr>
    </tbody>
    <tbody *ngIf="visible == 'motorista'">
        <tr *ngFor="let obj of tableData; index as i">
            <th>{{i+1}}</th>
            <th>{{obj.pNombre}} {{obj.sNombre}} {{obj.pApellido}} {{obj.sApellido}}</th>
            <th *ngIf="obj.estado == true">Activo</th>
            <th *ngIf="obj.estado == false">Inactivo</th>
            <th>
                <button *ngIf="obj.estado == false" (click)="cambiarEstadoMotorista(true,i)">Activar</button>
                <button *ngIf="obj.estado == true" (click)="cambiarEstadoMotorista(false,i)">Desactivar</button>
            </th>
        </tr>
    </tbody>
    <tbody *ngIf="visible == 'orden'">
        <tr *ngFor="let obj of tableData; index as i">
            <th>{{i+1}}</th>
            <th>{{obj.clienteNombre}}</th>
            <th>Lat: {{obj.direccion.lat}}, <br> Lng: {{obj.direccion.lng}}</th>
            <th>{{obj.precioTotal}}$</th>
            <th *ngIf="obj.motorista != null">{{obj.motorista}}</th>
            <th *ngIf="obj.motorista == null"><button (click)="activarModal((i))">Seleccionar</button></th>
        </tr>
    </tbody>
</table>

<div class="modalBack" *ngIf="modal == 'active'">
    <div class="modalCont">
        <div class="modalNav">
            <fa-icon [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
            <h4>Motoristas disponibles</h4>
            <hr>
        </div>
        <div class="modalBody">
            <ul>
                <li *ngFor="let item of drivers" (click)="actualizarDriver((item.id))">{{item.pNombre}} {{item.pApellido}}</li>
            </ul>
            <hr>
        </div>
        <div class="modalFooter">
        </div>
    </div>
</div>