<app-nav></app-nav>
<h2>Ingrese sus datos de pago</h2>
<form [formGroup]="pagoForm" >
    <label for="metodo">Tipo de tarjeta</label>
    <select name="metodo" id="metodo" formControlName="metodo">
        <option value="visa">Visa</option>
        <option value="Matercard">Matercard</option>
        <option value="Paypal">Paypal</option>
    </select>

    <label for="tarjeta">Ingrese el número de su tarjeta</label>
    <input type="text" name="tarjeta" id="tarjeta" formControlName="tarjeta">

    <div>
        <label for="codigo">Codigo de seguridad</label>
        <input type="text" name="codigo" id="codigo" formControlName="codigo">
        
        <label for="fecha">Fecha de caducidad</label>
        <input type="date" name="fecha" id="fecha" formControlName="fecha">
    </div>
    <button routerLink="/clientes" (click)="pagoRealizadoEfectivo()">Pagaré en efectivo</button>
    <button routerLink="/clientes" (click)="pagoRealizadoTarjeta()"  [disabled]="!pagoForm.valid">Aceptar pago</button>
</form>