section {
  overflow: auto;
  width: min-content;
  max-width: 680px;
}

.empresas {
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 320px;
}

.objetoCont {
  float: left;
  width: 300px;
  background-color: white;
  background-size: auto 200px;
  background-repeat: no-repeat;
  height: 250px;
  border-radius: 20px;
  overflow: auto;
  box-shadow: 0px 0px 15px black;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: box-shadow 0.5s ease;
}

.objetoCont:hover{
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(189, 189, 189);
}

.objetoCont:last-child {
  margin-right: 20px;
}

.calificacion {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.empresaLogo {
  float: right;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.empresaLogo img {
  height: 100%;
}

.objetoDetalle {
  margin-top: 162px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.objetoDetalle p {
  margin: 0;
  color: black;
  padding: 0px 20px;
  overflow: hidden;
  text-shadow: 0px 0px 2px grey;
}

.objetoDetalle h2 {
  text-shadow: -1px -2px 1px black;
  color: white;
}

.nombreCat h1 {
  margin: 10px;
  margin-top: 15px;
  margin-left: 40px;
  text-shadow: 0px 0px 3px grey;
}

button{
  padding: 10px 20px;
  margin: 0px 20px;
  float: right;
}


.empresasCont{
  width: 1120px;
  max-width: max-content;
}


@media (min-width: 1110px) {
  section {
    min-width: 1020px;
  }

  .empresas{
    overflow: hidden;
  }

  .empresasCont{
    width: auto;
  }

  

}

@media (max-width:415px) {

  .categoriasCont{
    width: 90%;
    min-width: 0px;
    padding: 0;
  }
  
  .empresasCont{
    width: max-content;
  }

  section{
    overflow: hidden;
    position: relative;
  }

  button{
    margin: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    color: white;
    background-color: var(--color-boton);
  }
  
  .empresasCont{
    width: max-content;
  }

  section{
    max-width: none;
  }

}
