<div class="categoriasCont">
    <section>
        <div class="empresas">
            <div class="nombreCat">
                <h1>Comidas</h1>
            </div>
            <div class="empresasCont">
                <div class="objetoCont">
                    <p class="calificacion">
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                    </p>
                    <div class="empresaLogo">
                        <img src="../../assets/img/burguer-logo.png" alt="">
                    </div>
                    <div class="objetoDetalle">
                        <h2>Burguer King</h2>
                        <p class="descripcion"> Soasdasdasdadasd asdas dasd mos una empresa que vende hamburguesas delis</p>
                        
                    </div>
                </div>
                <div class="objetoCont">
                    <p class="calificacion">
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                    </p>
                    <div class="empresaLogo">
                        <img src="" alt="">
                    </div>
                    <div class="objetoDetalle">
                        <h2>Burguer King</h2>
                        <p class="descripcion"> Somos una empresa que vende hamburguesas delis</p>
                        
                    </div>
                </div>
                <div class="objetoCont">
                    <p class="calificacion">
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                    </p>
                    <div class="empresaLogo">
                        <img src="" alt="">
                    </div>
                    <div class="objetoDetalle">
                        <h2>Burguer King</h2>
                        <p class="descripcion"> Somos una empresa que vende hamburguesas delis</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button>Ver mas</button>
    <button>Ver todas</button>
</div>
    