<div class="categoriasCont">
    <section>
        <div class="empresas">
            <div class="nombreCat">
                <h1>{{categoria}}</h1>
            </div>
            <div class="empresasCont">
                <div class="objetoCont"  *ngFor="let item of companias" style="background-image: url(../../assets/img/banners/{{item.banner}})" >
                    <p class="calificacion">
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                    </p>
                    <div class="empresaLogo">
                        <img src="../../assets/img/logos/{{item.logo}}" alt="">
                    </div>
                    <div class="objetoDetalle">
                        <h2>{{item.nombre}}</h2>
                        <p class="descripcion">{{item.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a (click)="actualizarCate()" [routerLink]="['categorias']">
        <button>Ver mas</button>
    </a>
</div>


    