.objetoImagen {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center -20px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.objetoCont {
  display: flex;
  align-items: center;
  margin: 10px auto;
  height: 150px;
  border-radius: 20px;
  overflow: auto;
  box-shadow: 0px 0px 15px black;
  transition: box-shadow 0.5s ease;
  background-image: linear-gradient(to right, rgb(124, 124, 124), white);
}

.objetoCont:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(189, 189, 189);
}

.objetoDetalle {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.objetoDetalle p {
  margin: 0;
  color: black;
  padding: 0px 10px;
  height: 50px;
  overflow: hidden;
  text-shadow: 0px 0px 2px grey;
  width: 90%;
}
.objetoDetalle .detalle {
  color: red;
  float: left;
  margin-left: 10px;
}

.objetoCont h3 {
  text-shadow: -1px -2px 1px black;
  margin-top: 55%;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.288);
  padding: 0px 10px;
  max-height: 30px;
  overflow: hidden;
}

.objetoDetalle b {
  padding: 5px 10px;
}

.objetoCont button {
  float: right;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.objetoCont button:hover {
  background-color: rgb(165, 165, 165);
}

.carritoCont h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carritoCont {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

h3.error{
  text-align: center;
}

/*------------------------------- modal -------------------------------*/

.modalBody p{
  display: inline-block;
  min-width: 50%;
}

.modalBody div p:first-child{
  text-align: right;
}

.botonFlotante {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: grey;
  box-shadow: 0px 0px 5px black;
}
