<div class="carritoCont">
    <h1>Carrito</h1>
    <div class="carrito">
        <div class="objetoCont">
            <div class="objetoImagen">
                <h2>Texana burguer</h2>
            </div>
            <div class="objetoDetalle">
                <b>Ingredientes:</b>
                <p class="descripcion"> Tomatillo y triple level de carne y con todo el queso que quieras, puedes agregar a tu disposicion</p>
                <p class="precio">25.99$</p>
                <button (click)="activarModal()">Agregar</button>
            </div>
        </div>
        <div class="objetoCont">
            <div class="objetoImagen">
                <h2>Texana burguer</h2>
            </div>
            <div class="objetoDetalle">
                <b>Ingredientes:</b>
                <p class="descripcion"> Tomatillo y triple level de carne y con todo el queso que quieras, puedes agregar a tu disposicion</p>
                <p class="precio">25.99$</p>
                <button (click)="activarModal()">Agregar</button>
            </div>
        </div>
        <div class="objetoCont">
            <div class="objetoImagen">
                <h2>Texana burguer</h2>
            </div>
            <div class="objetoDetalle">
                <b>Ingredientes:</b>
                <p class="descripcion"> Tomatillo y triple level de carne y con todo el queso que quieras, puedes agregar a tu disposicion</p>
                <p class="precio">25.99$</p>
                <button (click)="eliminarProd()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modalBack" *ngIf="modalCantidad == 'active'">
    <div class="modalInfoBack factura">
        <fa-icon [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
        <p class="izq">Coste de producto: </p>
        <p class="der">25.99$</p>
        <p class="izq">Coste de envio: </p>
        <p class="der">43$</p>
        <p class="izq">Total: </p>
        <p class="der">67$</p>
        <button>Ir a pago</button>
    </div>
</div>