<div id="map" class="map-container"> </div>

<div class="modalBack" *ngIf="modal == 'active'">
    <div class="modalCont">
        <div class="modalNav">
            <fa-icon [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
            <h4>¿Esta es su dirección?</h4>
            <hr>
        </div>
        <div class="modalBody">
            <p><b>Su longitud es: </b></p>
            <p>{{direccion.lng}}</p>
            <p><b>Su latitud es: </b></p>
            <p>{{direccion.lat}}</p>
            <hr>
        </div>
        <div class="modalFooter">
            <button routerLink="/clientes/ubicacion" (click)="guardarOrden()" routerLink="/clientes/pago">Ir a pago</button>
        </div>
    </div>
</div>

<div class="ayuda">
    <p>Arrastre el indicador</p>
</div>