a{
    color: white;
    margin: 0px 5px;
}

.h1Cont{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin-top: 10px;
}

h1{
    display: inline-block;
    color: white;
}

fa-icon{
    color: white;
}