
<div class="body">
    <app-admin-nav></app-admin-nav>
    <div class="sesion" *ngIf="sesion == '0'">
        <form [formGroup]="iniciarSesionForm">
            <fieldset>
                <legend>Iniciar Sesion Administrador</legend>
                <div class="error" *ngIf="error == 1">Error en el correo o contraseña</div>
                <div>
                    <label for="email">Correo:</label><br>
                    <input type="text" id="email" name="email" formControlName="email">
                </div>
                <br>
                <div>
                    <label for="password">Contraseña:</label><br>
                    <input type="password" id="password" name="password" formControlName="password">
                </div>
                <br>
                
                <button (click)="iniciarSesion()">Iniciar sesion</button>
            </fieldset>
        </form>
    </div>
    <div class="cont" *ngIf="sesion == '1'">
        <div class="opciones">
            <ul>
                <li (click)="cambiarTabla('empresas')" [ngClass]="{'active': visible=='empresas'}">Empresas</li>
                <li (click)="cambiarTabla('productos')" [ngClass]="{'active': visible=='productos'}">Productos</li>
                <li (click)="cambiarTabla('motoristas')" [ngClass]="{'active': visible=='motoristas'}">Motoristas</li>
                <li (click)="cambiarTabla('ordenes')" [ngClass]="{'active': visible=='ordenes'}">Ordenes</li>
            </ul>
        </div>
        <div class="tablaCont">
            <app-admin-tabla-empresa *ngIf="visible == 'empresas'"></app-admin-tabla-empresa>
            <app-admin-tabla-producto *ngIf="visible == 'productos'"></app-admin-tabla-producto>
            <app-admin-tabla-motorista *ngIf="visible == 'motoristas'"></app-admin-tabla-motorista>
            <app-admin-tabla-orden *ngIf="visible == 'ordenes'"></app-admin-tabla-orden>
        </div>
    </div>
</div>