<div id="map" class="map-container"> </div>

<div class="modalBack" *ngIf="modal == 'active'">
    <div class="modalInfoBack factura">
        <fa-icon [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
        <p class="izq"><b>Esta es su direccion</b></p><br>
        <p class="izq"><b>Su longitud es: </b></p>
        <p class="izq">{{direccion.lng}}</p>
        <p class="izq"><b>Su latitud es: </b></p>
        <p class="izq">{{direccion.lat}}</p>
        <button routerLink="/clientes/ubicacion">Finalizar compra</button>
    </div>
</div>