<app-driver-nav></app-driver-nav>
<h1 class="avisoError" *ngIf="cargando == true">Cargando...</h1>
<h1 class="avisoError" *ngIf="tieneO == false && cargando == false">No hay ordenes disponibles</h1>
<div *ngIf="tieneO == true">
    <h2 class="titulo">Ordenes disponibles</h2>
    <section *ngFor="let item of ordenes">
        <div class="info">
            <h2>Cliente: {{item.clienteNombre}}</h2>
            <p>Direccion:</p>
            <button  class="buttonArriba" (click)="verMapa(item.direccion)">Ver mapa</button>
            <p> <span> Lng: </span> {{item.direccion.lng}}</p>
            <button  (click)="abrirOrden((item.productos))">Ver objetos</button>
            <p> <span> Lat: </span> {{item.direccion.lat}}</p>
            <p class="precio"> <span> Coste: </span> {{item.totalOrden}}$</p>

        </div>
        <div class="iconosCont">
            <div (click)="cambiarEstado(0,(item))" class="tomada" [ngClass]="{'active': item.estado==0}">
                <fa-icon [icon]="faThumbtack" size="2x"></fa-icon>
                <p>Tomada</p>
            </div>
            <div (click)="cambiarEstado(1,(item))" class="camino" [ngClass]="{'active': item.estado==1}">
                <fa-icon [icon]="faMotorcycle" size="2x"></fa-icon>
                <p>Camino</p>
            </div>
            <div (click)="cambiarEstado(2,(item))" class="punto" [ngClass]="{'active': item.estado==2}">
                <fa-icon [icon]="faHome" size="2x"></fa-icon>
                <p>Punto</p>
            </div>
            <div (click)="cambiarEstado(3,(item))" class="entregada" [ngClass]="{'active': item.estado==3}">
                <fa-icon [icon]="faCheck" size="2x"></fa-icon>
                <p>Entregada</p>
            </div>
        </div>
    </section>
</div>

<div class="modalBack" *ngIf="modal == 'true'">
    <div class="modalCont">
        <div class="modalNav">
            <fa-icon [icon]="faWindowClose" (click)="quitarModal()"></fa-icon>
            <h4>Objetos de orden</h4>
            <hr>
        </div>
        <div class="modalBody">
                <div class="objetoCont" *ngFor="let item of objetos; index as i">
                    <div class="objetoImagen">
                        <h3><span class="index">{{i+1}}.</span> {{item.nombre}}</h3>
                    </div>
                    <div class="objetoDetalle">
                        <div class="detalle">Cantidad: {{item.cantidad}}</div>
                    </div>
                </div>
            <hr>
        </div>
        <div class="modalFooter">
        </div>
    </div>
</div>
