
.categoriasCont {
  width: 90%;
  min-width: 0px;
  padding: 0;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
}

section {
  overflow: hidden;
}

.objetoCont {
  margin: 30px 20px;
  background-color: white;
  background-size: auto 200px;
  background-repeat: no-repeat;
  height: 250px;
  border-radius: 20px;
  overflow: auto;
  box-shadow: 0px 0px 15px grey;
  transition: box-shrgba(0, 0, 0, 0.842)
}

.objetoCont:first-child {
  margin-top: 0px;
}

.objetoCont:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(189, 189, 189);
}

.objetoCont:last-child {
  margin-right: 20px;
}

.calificacion {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.empresaLogo {
  float: right;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.empresaLogo img {
  height: 100%;
}

.objetoDetalle {
  margin-top: 162px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.objetoDetalle p {
  margin: 0;
  color: black;
  padding: 0px 20px;
  overflow: hidden;
  text-shadow: 0px 0px 2px grey;
}

.objetoDetalle h2 {
  text-shadow: -1px -2px 1px black;
  padding: 0px 10px;
  color: white;
}


button {
  padding: 10px 20px;
  margin: 0px 20px;
  float: right;
}

.nombreCat h1 {
  text-align: center;
  margin: 15px;
  text-shadow: 0px 0px 3px grey;
}

#botonMenu {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px grey;
}

#botonMenu fa-icon {
  font-size: 30px;
  color: var(--color-boton);
}

#botonMenu:hover {
  background-color: var(--color-boton);
}

#botonMenu:hover fa-icon {
  color: white;
}

li fa-icon {
  margin-right: 5px;
  float: left;
}

