<app-nav></app-nav>

<div class="categoriasCont">
    <section>
        <div class="empresas">
            <div class="nombreCat">
                <h1>{{catActual}}</h1>
            </div>
            <div class="empresasCont">
                <div routerLink="/productos" class="objetoCont"  *ngFor="let item of data" style="background-image: url(../../assets/img/banners/{{item.banner}})" >
                    <p class="calificacion">
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="active" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                        <fa-icon class="" [icon]="faStar"></fa-icon>
                    </p>
                    <div class="empresaLogo">
                        <img src="../../assets/img/logos/{{item.logo}}" alt="">
                    </div>
                    <div class="objetoDetalle">
                        <h2>{{item.nombre}}</h2>
                        <p class="descripcion">{{item.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="botonMenu" (click)='mostrarCat()'>
    <fa-icon [icon]="faStore"></fa-icon>
</div>

<div class="todasCatCont" *ngIf="movilVisible == 'movil'">
    <ul>
        <fa-icon id="closeTag" [icon]="faWindowClose" (click)="quitarCat()"></fa-icon>
        <li (click)='verCat("Restaurantes")' [routerLink]="['/categorias/R']"><fa-icon [icon]="faUtensils"></fa-icon><a>Restaurantes</a></li>
        <li (click)='verCat("Farmacias")' [routerLink]="['/categorias/Fa']"><fa-icon [icon]="faPrescriptionBottleAlt"></fa-icon><a>Farmacias</a></li>
        <li (click)='verCat("Ferreterias")' [routerLink]="['/categorias/Fe']"><fa-icon [icon]="faTools"></fa-icon><a>Ferreterias</a></li>
        <li (click)='verCat("Supermercados")' [routerLink]="['/categorias/S']"><fa-icon [icon]="faStore"></fa-icon><a>Supermercados</a></li>
    </ul>
</div>